.certificate-detail-box {
  background-color: #000000;
  padding: 38px 24px 48px;
  box-sizing: border-box;
  min-height: 100vh;
}

.certificate-detail-box .border-content {
  position: relative;
}

.certificate-detail-box .border-content::before {
  content: "";
  display: block;
  width: 100%;
  height: 99%;
  border: 2px solid #333333;
  position: absolute;
  top: 10px;
  left: 0;
}

.certificate-detail-box .border-content::after {
  content: "";
  display: block;
  width: 97%;
  height: 100%;
  border: 2px solid #333333;
  position: absolute;
  top: 0px;
  left: 10px;
}

.certificate-detail-box .out-border::before {
  content: "";
  z-index: 1;
  background-size: 100%;
  height: 99.5%;
  position: absolute;
  top: 7px;
  left: 11px;
  width: 97%;
  background: linear-gradient(to left, #333333, #333333) left top no-repeat, linear-gradient(to bottom, #333333, #333333) left top no-repeat, linear-gradient(to left, #333333, #333333) right top no-repeat, linear-gradient(to bottom, #333333, #333333) right top no-repeat, linear-gradient(to left, #333333, #333333) left bottom no-repeat, linear-gradient(to bottom, #333333, #333333) left bottom no-repeat, linear-gradient(to left, #333333, #333333) right bottom no-repeat, linear-gradient(to left, #333333, #333333) right bottom no-repeat;
  background-size: 34px 6px, 6px 34px, 34px 6px, 6px 34px;
}

.certificate-detail-box .certificate-detail-banner {
  padding: 26px 100px 64px;
  box-sizing: border-box;
  text-align: center;
}

.certificate-detail-box .certificate-detail-banner .icon-msg {
  height: 96px;
}

.certificate-detail-box .certificate-detail-banner p {
  margin-top: 10px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-image: linear-gradient(137deg, rgba(225, 191, 129, 0.8), rgba(161, 111, 57, 0.8)) 2 2;
  box-sizing: border-box;
  padding: 10px 0;
  font-size: 40px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #27DD81;
  background: linear-gradient(137deg, #E1BF81 0%, #A16F39 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.certificate-detail-box .certificate-info-content {
  padding: 0px 50px 56px;
  box-sizing: border-box;
}

.certificate-detail-box .certificate-detail-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 26px;
}

.certificate-detail-box .certificate-detail-info .certificate-detail-title {
  width: 100%;
  font-size: 32px;
  color: #ffffff;
  font-weight: 500;
  line-height: 32px;
  margin-left: 8px;
  display: flex;
  justify-content: space-between;
}

.certificate-detail-box .certificate-detail-info .certificate-detail-title i {
  font-size: 24px;
}

.certificate-detail-box .list-item {
  padding-bottom: 42px;
  box-sizing: border-box;
}

.certificate-detail-box .list-name {
  font-size: 28px;
  color: #666666;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 20px;
}

.certificate-detail-box .list-content {
  font-size: 32px;
  color: #ffffff;
  font-weight: 500;
  line-height: 44px;
  word-break: break-all;
}

.certificate-detail-box .product-list {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  padding: 40px 40px 0px 40px;
  box-sizing: border-box;
}

.certificate-detail-box .product-list .list-content-indent {
  text-indent: 60px;
}

.certificate-detail-box .product-list .icon-goods-certified {
  width: 172px;
  height: 172px;
  position: absolute;
  right: 0px;
  bottom: 36px;
}

.certificate-detail-box .product-list .works-desc {
  position: relative;
}

.certificate-detail-box .product-list .works-desc img {
  max-width: 100%;
}

.certificate-detail-box .handle-list {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  padding: 40px 34px 0px 78px;
  box-sizing: border-box;
  position: relative;
}

.certificate-detail-box .handle-list .item-title {
  font-size: 32px;
  color: #D8B77B;
  font-weight: 500;
  line-height: 44px;
  margin-bottom: 42px;
}

.certificate-detail-box .handle-list .content-line {
  position: absolute;
  top: 56px;
  left: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.certificate-detail-box .handle-list .follow-up-route {
  width: 2px;
  height: 444px;
  background: #D8B77B;
  border: 2px solid #D8B77B;
}

.certificate-detail-box .handle-list .icon-Processnode {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #D8B77B;
  border: 2px solid #D8B77B;
}
