.confirmExamples-content-tt {
  width: 100%;
  padding: 56px 40px;
  box-sizing: border-box;
}

.confirmExamples-content-tt .confirmExamples-title-tt {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 32px;
  position: relative;
  letter-spacing: 4px;
}

.confirmExamples-content-tt .confirmExamples-title-tt i {
  position: absolute;
  left: -2px;
  top: 0;
  color: #878788;
  font-weight: bold;
  font-size: 60px;
}

.confirmExamples-content-tt .confirmExamples-detail {
  margin-top: 64px;
  padding: 32px 32px 34px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
}

.confirmExamples-content-tt .confirmExamples-detail .confirmExamples-img {
  width: 179px;
  height: 192px;
  border-radius: 16px;
  margin-right: 38px;
}

.confirmExamples-content-tt .confirmExamples-detail .confirmExamples-info {
  flex: auto;
}

.confirmExamples-content-tt .confirmExamples-detail .confirmExamples-info .confirmExamples-info-title {
  flex: auto;
  font-size: 32px;
  color: #ffffff;
  font-weight: 600;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-line-clamp: 1;
  -moz-box-orient: vertical;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  height: 40px;
}

.confirmExamples-content-tt .confirmExamples-detail .confirmExamples-info .confirmExamples-content-left {
  position: relative;
  height: 40px;
  font-size: 22px;
  color: #ffffff;
  font-weight: 500;
  line-height: 41px;
  background: url(../../assets/images/tiangong/bg1.png) no-repeat;
  background-size: calc(100% - 80px) 40px;
  padding: 0px 18px;
  box-sizing: border-box;
  margin-top: 16px;
}

.confirmExamples-content-tt .confirmExamples-detail .confirmExamples-info .confirmExamples-info-subTitle {
  margin-top: 20px;
  font-size: 24px;
  color: #ffffff;
  font-weight: 400;
  line-height: 28px;
}

.confirmExamples-content-tt .confirmExamples-body {
  margin-top: 64px;
}

.confirmExamples-content-tt .confirmExamples-body .confirmExamples-tishi-tt {
  font-size: 32px;
  color: #ffffff;
  font-weight: 500;
  line-height: 48px;
  text-align: justify;
}

.confirmExamples-content-tt .confirmExamples-body .confirmExamples-list {
  margin-top: 48px;
}

.confirmExamples-content-tt .confirmExamples-body .confirmExamples-list li {
  padding-left: 26px;
  box-sizing: border-box;
  font-size: 28px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  line-height: 40px;
  position: relative;
  margin-bottom: 30px;
  text-align: justify;
}

.confirmExamples-content-tt .confirmExamples-body .confirmExamples-list li::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 18px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #8B8B8C;
}

.confirmExamples-content-tt .confirmExamples-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 160px;
  flex-direction: column;
}

.confirmExamples-content-tt .confirmExamples-btn.receiveExamples-btn {
  flex-direction: row;
}

.confirmExamples-content-tt .confirmExamples-btn.receiveExamples-btn button {
  width: 250px;
  height: 84px;
  background: url(../../assets/images/culture-gather/hq_btn.png) no-repeat;
}

.confirmExamples-content-tt .confirmExamples-btn.receiveExamples-btn button:first-of-type {
  color: #D8B77B;
  margin-right: 60px;
  background: url(../../assets/images/culture-gather/quxiao.png) no-repeat;
}

.confirmExamples-content-tt .confirmExamples-btn button {
  width: 408px;
  height: 80px;
  background: url(../../assets/images/tiangong/goback.png) no-repeat;
  border: none;
  outline: none;
  font-size: 32px;
  color: #fff;
  font-weight: normal;
  line-height: 50px;
}

.confirmExamples-content-tt .confirmExamples-btn p {
  margin-top: 32px;
  font-size: 28px;
  color: #fff;
  font-weight: 400;
  line-height: 40px;
}

.confirmExamples-content-tt .van-overlay {
  width: 100%;
  padding: 240px 80px;
  box-sizing: border-box;
}

.confirmExamples-content-tt .van-overlay .pubilic-content {
  width: 100%;
  max-height: 776px;
  background: rgba(34, 34, 34, 0.95);
  border-radius: 20px;
  padding: 64px 52px;
  box-sizing: border-box;
  position: relative;
}

.confirmExamples-content-tt .van-overlay .pubilic-content .colse-headerbtn {
  position: absolute;
  top: 72px;
  width: 100%;
  height: 28px;
  left: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  box-sizing: border-box;
}

.confirmExamples-content-tt .van-overlay .pubilic-content .colse-headerbtn img {
  width: 28px;
  height: 28px;
}

.confirmExamples-content-tt .van-overlay .pubilic-content .head-box {
  padding-bottom: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.confirmExamples-content-tt .van-overlay .pubilic-content .head-box .pubilic-content-img {
  font-size: 112px;
  display: inline-block;
  margin-bottom: 66px;
}

.confirmExamples-content-tt .van-overlay .pubilic-content .head-box .pubilic-content-img.icon-guanyuwomen {
  color: #F93E5F;
}

.confirmExamples-content-tt .van-overlay .pubilic-content .head-box .pubilic-content-img.icon-duigouxuanzhong {
  color: #D8B77B;
}

.confirmExamples-content-tt .van-overlay .pubilic-content .head-box h3 {
  text-align: center;
  font-size: 40px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.95);
}

.confirmExamples-content-tt .van-overlay .pubilic-content .cont-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmExamples-content-tt .van-overlay .pubilic-content .cont-box input {
  width: calc(100% / 6 - 10px);
  height: 80px;
  background: #2D2E30;
  border-radius: 16px;
  margin-right: 20px;
  font-size: 32px;
  color: #fff;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
}

.confirmExamples-content-tt .van-overlay .pubilic-content .cont-box input:last-of-type {
  margin-right: 0;
}

.confirmExamples-content-tt .van-overlay .pubilic-content .foot-box {
  margin-top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.confirmExamples-content-tt .van-overlay .pubilic-content .foot-box button {
  border-radius: 48px;
  outline: none;
  border: none;
  font-size: 32px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  pointer-events: all;
  background: none;
  color: rgba(255, 255, 255, 0.3);
}

.confirmExamples-content-tt .van-overlay .pubilic-content .foot-box button span {
  color: #FFFFFF;
}

.confirmExamples-content-tt .confirmExamples-text {
  margin-top: 30px;
  text-align: center;
  font-size: 28px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  line-height: 40px;
}
