@mixin font($fontSize, $color) {
    font-size: $fontSize;
    color    : $color;
}

@mixin width($width, $height) {
    width : $width;
    height: $height;
}

@mixin ellipsis($width, $lineClamp) {
    width             : $width;
    overflow          : hidden;
    text-overflow     : ellipsis;
    display           : -webkit-box;
    -webkit-line-clamp: $lineClamp;
    -webkit-box-orient: vertical;
    display           : -moz-box;
    -moz-line-clamp   : $lineClamp;
    -moz-box-orient   : vertical;
    word-wrap         : break-word;
    word-break        : break-all;
    white-space       : normal;
}

@mixin between($justifyContent, $alignItem) {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: $justifyContent;
    align-items    : $alignItem;
}

@mixin flex($center, $content) {
    display        : flex;
    justify-content: $content;
    align-items    : $center;
}

img {
    object-fit         : cover;
    pointer-events     : none;
    -webkit-user-select: none;
    -moz-user-select   : none;
    user-select        : none;
}

* {
    padding: 0;
    margin : 0;

}

input,
button {
    outline: none;
    border : none;
}

html {
    // scroll-behavior: smooth;
}
.cultureGatherDetail-box {
    width           : 100%;
    min-height      : 100%;
    background-color: rgba($color: #000, $alpha: 0.8);

    .pop-box {
        position         : fixed;
        left             : 0;
        top              : 0;
        width            : 100%;
        height           : 100vh;
        background-repeat: no-repeat;
        background-size  : cover;

    }

    &.cultureGatherDetail-wrap {
        -webkit-overflow-scrolling: touch;

        .footer-box {
            height: 188px;

            .tilp-box {
                display: none;
            }

            .button-left {
                flex  : 1;
                height: 100%;

                P {
                    &.price {
                        bottom: 0;
                    }

                    opacity : 1;
                    bottom  : 100px;
                    transition: bottom 0.5s linear,
                    opacity 0.5s linear;
                }
            }

            .button-right {
                right     : 40px;
                transition: right 0.5s linear;

                p {
                    opacity  : 0;
                    animation: Flash 1s linear both;

                    @keyframes Flash {
                        from {
                            opacity: 0;
                        }

                        to {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    &.cultureGatherDetail-flash {
        -webkit-overflow-scrolling: auto;

        .footer-box {
            .button-right {
                transition: right 0.5s linear;

                p {
                    opacity  : 0;
                    animation: butFlash 1s linear both;

                    @keyframes butFlash {
                        from {
                            opacity: 0;
                        }

                        to {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    &.cultureGatherDetail-noCount {
        .footer-box {
            height: 188px;

            .button-left {
                bottom  : 0px;
                flex    : 1;
                height  : 100%;
                position: relative;

                p {
                    &.price {
                        width     : 100%;
                        padding   : 0;
                        opacity   : 1;
                        bottom    : 0;
                        transition: none;
                    }
                }
            }

            .button-right {
                transition: none;
                right     : 0;
                position  : relative;

                p {
                    opacity: 1;
                }
            }
        }
    }

    .nav-box {
        padding   : 0 60px;
        box-sizing: border-box;
        @include flex(center, space-between);
        position  : fixed;
        left      : 0;
        top       : 0;
        width     : 100%;
        z-index   : 11;
        background: #000000;
        opacity   : 0;
        transition: opacity 1s, padding 1s;

        &.fixed-stick-box {
            opacity   : 1;
            transition: opacity 1s, padding 1s;
        }

        li {
            padding    : 50px 0 22px;
            font-size  : 36px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color      : #666666;
            flex       : 1;
            text-align : center;

            &.active {
                font-weight: bold;
                color      : #FFFFFF;
                position   : relative;

                &::after {
                    content      : '';
                    display      : block;
                    position     : absolute;
                    left         : 50%;
                    bottom       : 0;
                    width        : 72px;
                    height       : 8px;
                    background   : linear-gradient(137deg, #E1BF81 0%, #A16F39 100%);
                    border-radius: 5px;
                    transform    : translateX(-50%);
                }
            }

            &:first-of-type {
                text-align: left;
                flex      : 1.1;

                &::after {
                    left: 24%;
                }
            }

            &:nth-of-type(3) {
                text-align   : right;
                box-sizing   : border-box;
                padding-right: 26px;

                &::after {
                    left: 65%;
                }
            }

            &:last-of-type {
                text-align: right;

                &::after {
                    left: 76%;
                }
            }

        }
    }

    .detail-content {
        padding          : 0 0 188px;
        position         : relative;
        background-size  : cover;
        background-repeat: no-repeat;

        &::before {
            content   : '';
            display   : block;
            position  : absolute;
            left      : 0;
            top       : 0;
            width     : 100%;
            height    : 100%;
            background: linear-gradient(225deg, #000000 0%, #121115 100%);
            opacity   : 0.4;
            transition: all 0.5s;
        }

        .cont-info {
            position  : relative;
            padding   : 0 40px;
            box-sizing: border-box;

            &.banner-box {
                width          : 100%;
                position       : relative;
                background-size: cover;
                padding        : 0;

                .head-box {
                    width: 100%;
                    @include flex(center, center);
                    flex-direction: column;
                    padding       : 40px 87px 0;
                    box-sizing    : border-box;
                    position      : absolute;
                    left          : 0;
                    top           : 0;
                    z-index       : 12;

                    .img1 {
                        width : 85%;
                        height: auto;
                    }

                    .icon-ARROW-left-copy {
                        position : absolute;
                        left     : 30px;
                        top      : 60px;
                        font-size: 60px;
                        color    : #fff;
                    }
                }

                .conten-box {
                    width   : 100%;
                    position: relative;

                    .three-box {
                        position: relative;
                        z-index : 0;

                        .loading-common {
                            position : absolute;
                            left     : 50%;
                            top      : 50%;
                            transform: translate(-50%);
                            width    : 100px;
                            height   : 100px;
                            z-index  : 3;
                        }

                        // canvas {
                        //     opacity  : 0;
                        //     animation: fier 0.5s linear 0.5s both;

                        //     @keyframes fier {
                        //         from {
                        //             opacity: 0;
                        //         }

                        //         to {
                        //             opacity: 1;
                        //         }
                        //     }
                        // }

                        #marmosetUI {
                            position: relative;

                            div {
                                &:nth-last-of-type(3) {
                                    display: none;
                                }

                                &:last-of-type {
                                    div {
                                        display: none;
                                    }
                                }
                            }

                            text {
                                display: none;
                            }
                        }
                    }

                    .lable {
                        width   : auto;
                        height  : 96px;
                        position: absolute;
                        right   : 40px;
                        bottom  : 319px;
                        z-index : 5;
                    }
                }

                .info-body {
                    padding-top: 165px;
                    width      : 100%;
                    position   : absolute;
                    left       : 0;
                    bottom     : 0px;
                    z-index    : 1;

                    &.isBackground {
                        background     : url(../../assets/images/tiangong/zhantai.png) no-repeat center top;
                        background-size: 100%;
                    }

                    .info-box {
                        width: 100%;
                        @include flex(flex-end, center);
                        padding   : 50px 44px 40px;
                        box-sizing: border-box;

                        .info-left {
                            flex: 2;
                            @include flex(flex-start, flex-start);
                            flex-direction: column;

                            .text {
                                font-size  : 29px;
                                font-family: Source Han Serif CN;
                                color      : #ffffff;
                            }

                            h3 {
                                margin-top : 10px;
                                font-size  : 42px;
                                font-family: Source Han Serif CN;
                                color      : #ffffff;
                            }

                            .type {
                                margin-top : 40px;
                                font-size  : 27px;
                                font-family: Source Han Serif CN;
                                color      : #ffffff;
                            }
                        }

                        .info-right {
                            flex: 1;
                            @include flex(flex-end, flex-start);
                            flex-direction: column;

                            .company {
                                font-size  : 29px;
                                font-family: Source Han Serif CN;
                                font-weight: bold;
                                color      : #ffffff;
                            }

                            .icon-close {
                                margin-top: 10px;
                                font-size : 32px;
                                color     : #ffffff;
                            }

                            .issue {
                                margin-top : 10px;
                                font-size  : 29px;
                                font-family: Source Han Serif CN;
                                font-weight: bold;
                                color      : #ffffff;
                            }

                            .limited {
                                margin-top : 15px;
                                padding-top: 12px;
                                border-top : 2px solid #fff;
                                font-size  : 29px;
                                font-family: Source Han Serif CN;
                                font-weight: 500;
                                color      : #ffffff;
                                @include flex(flex-start, center);

                                i {
                                    font-style : normal;
                                    color      : #e1bf81;
                                    font-size  : 33px;
                                    font-weight: bold;
                                    margin     : 0 8px;
                                }
                            }
                        }
                    }
                }

            }

            &.artist-box {
                padding   : 34px 40px 96px;
                box-sizing: border-box;

                .head-describe {
                    width        : 100%;
                    padding      : 40px 34px 52px;
                    box-sizing   : border-box;
                    height       : auto;
                    background   : #222222;
                    text-align   : justify;
                    border-radius: 20px;

                    .info {
                        h3 {
                            font-size    : 34px;
                            margin-bottom: 32px;
                        }

                        font-size : 28px;
                        font-family: PingFangSC-Regular,
                        PingFang SC;
                        font-weight: 400;
                        color      : #FFFFFF;
                        line-height: 46px;
                    }

                    .count-down-box {
                        width     : 100%;
                        margin-top: 36px;
                        box-sizing: border-box;

                        .countdown-list {
                            width: 100%;
                            @include flex(center, center);

                            .list-item {
                                font-size  : 30px;
                                font-family: PingFangSC-Medium, PingFang SC;
                                font-weight: 500;
                                color      : #FFFFFF;

                                span {
                                    display      : inline-block;
                                    min-width    : 64px;
                                    height       : 64px;
                                    line-height  : 64px;
                                    background   : #D8B77B;
                                    border-radius: 8px;
                                    padding      : 0 8px;
                                    text-align   : center;
                                    box-sizing   : border-box;
                                    font-size    : 36px;
                                    font-family  : PingFangSC-Medium, PingFang SC;
                                    font-weight  : 500;
                                    color        : #FFFFFF;
                                    margin       : 0 18px;
                                }
                            }
                        }
                    }
                }

                .img-describe {
                    margin-top : 40px;
                    width      : 100%;
                    height     : auto;
                    font-size  : 28px;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color      : #FFFFFF;
                    line-height: 46px;

                    img {
                        max-width: 100% !important;
                        height   : auto;
                    }
                }
            }

            &.equity-box {

                h3 {
                    font-size    : 32px;
                    font-family  : PingFangSC-Medium, PingFang SC;
                    font-weight  : bold;
                    color        : #FFFFFF;
                    margin-bottom: 32px
                }

                .collection-commondesc-content {
                    @include font(26px, rgba(255, 255, 255, 0.7));
                    font-weight   : 400;
                    line-height   : 40px;
                    padding-bottom: 56px;
                    border-bottom : 1px solid rgba($color: #fff, $alpha: 0.2);
                    text-align    : justify;

                    img {
                        width : 100% !important;
                        height: auto;
                    }
                }
            }

            &.comments-box {
                padding   : 52px 40px;
                box-sizing: border-box;

                .title-box {
                    font-size  : 32px;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    color      : #FFFFFF;
                    position   : relative;

                    span {
                        color: #D8B77B;
                    }

                    .comment-right {
                        position   : absolute;
                        right      : 0;
                        top        : 50%;
                        transform  : translateY(-50%);
                        font-size  : 32px;
                        font-family: PingFangSC-Regular, PingFang SC;
                        font-weight: 400;
                        color      : #D8B77B;

                        i {
                            margin-right: 12px;
                            font-size   : 32px;
                            color       : #D8B77B;
                        }
                    }
                }

                .comment-list {
                    margin-top: 14px;

                    .list-item {
                        width      : 100%;
                        padding-top: 42px;
                        @include flex(flex-start, flex-start);


                        .pic {
                            flex         : 0 0 72px;
                            height       : 72px;
                            border-radius: 50%;
                            width        : 72px;
                        }

                        .right-box {
                            flex          : auto;
                            margin-left   : 34px;
                            padding-bottom: 24px;
                            border-bottom : 2px solid rgba($color:#fff, $alpha:0.2);

                            .info-box {
                                font-size  : 28px;
                                font-family: PingFangSC-Regular, PingFang SC;
                                font-weight: 400;
                                color      : #CCCCCC;
                                line-height: 40px;
                                @include flex(flex-start, space-between);

                                p {
                                    padding-top: 14px;
                                }

                                i {
                                    flex     : 0 0 40px;
                                    color    : #999999;
                                    font-size: 40px;
                                }
                            }

                            .info-body {
                                margin-top : 12px;
                                font-size  : 30px;
                                font-family: PingFangSC-Regular, PingFang SC;
                                font-weight: 400;
                                color      : #FFFFFF;
                                line-height: 42px;
                            }

                            .child-comment {
                                padding-bottom: 42px;

                                .child-item {
                                    margin-top   : 20px;
                                    background   : rgba($color: #fff, $alpha: 0.08);
                                    border-radius: 20px;
                                    padding      : 16px 20px;
                                    box-sizing   : border-box;



                                    .chiild-right-box {
                                        .child-info-box {
                                            font-size  : 28px;
                                            font-family: PingFangSC-Regular, PingFang SC;
                                            font-weight: 400;
                                            color      : #CCCCCC;
                                            line-height: 40px;

                                            .child-pic {
                                                margin-right : 10px;
                                                width        : 56px;
                                                height       : 56px;
                                                border-radius: 50%;
                                            }
                                        }

                                        .child-info-body {
                                            margin-top : 12px;
                                            font-size  : 30px;
                                            font-family: PingFangSC-Regular, PingFang SC;
                                            font-weight: 400;
                                            color      : #FFFFFF;
                                            line-height: 42px;
                                            padding    : 0 6px;
                                            box-sizing : border-box;
                                        }
                                    }
                                }
                            }
                        }

                    }
                }

                .more-box {
                    padding-top: 52px;
                    font-size  : 32px;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: 500;
                    color      : #D8B77B;
                    line-height: 44px;
                    text-align : center;

                    button {
                        width          : 250px;
                        height         : 80px;
                        background     : url(../../assets/images/culture-gather/quxiao.png) no-repeat;
                        background-size: contain;
                    }
                }

                .text-info-box {
                    font-size      : 32px;
                    font-family    : PingFangSC-Medium, PingFang SC;
                    color          : #666;
                    text-align     : center;
                    display        : flex;
                    justify-content: space-between;
                    align-items    : center;
                    flex-direction : column;
                    padding-top    : 72px;

                    i {
                        font-size    : 122px;
                        margin-bottom: 40px;
                    }
                }
            }

        }

        .pop-box {
            position           : absolute;
            left               : 0;
            top                : 0;
            z-index            : -2;
            width              : 100%;
            height             : 100%;
            transition         : background-imgage 0.3;
            background-position: 0 1120px;
            background-size    : cover;
            background-position: center;
            filter             : blur(14px);

        }


    }

    .footer-box {
        width           : 100%;
        position        : fixed;
        left            : 0;
        bottom          : -1px;
        background-color: black;
        height          : 188px;
        padding         : 24px 46px 2px 40px;
        box-sizing      : border-box;
        @include flex(flex-start, center);
        z-index: 900;

        .tilp-box {
            @include flex(center, center);
            position : absolute;
            left     : 0;
            bottom   : 218px;
            width    : 100%;
            animation: slide_up 2s ease-in-out infinite;

            i {
                font-size: 36px;
                color    : rgba($color:#fff, $alpha:0.5);
            }
        }

        @keyframes slide_up {

            0%,
            30% {
                opacity          : 0;
                -webkit-transform: translate3d(0, 10px, 0)
            }

            60% {
                opacity          : 1;
                -webkit-transform: translateZ(0)
            }

            to {
                opacity          : 0;
                -webkit-transform: translate3d(0, -5px, 0)
            }
        }

        .button-left {
            flex    : 1;
            position: absolute;
            left    : 0;
            bottom  : 0;
            width   : 100%;

            p {
                font-size   : 28px;
                font-family : SourceHanSerifCN-Medium, SourceHanSerifCN;
                font-weight : 500;
                color       : #E1BF81;
                line-height : 40px;
                padding-top : 24px;
                position    : absolute;
                padding-left: 40px;
                box-sizing  : border-box;
                left        : 0;
                bottom      : -100%;
                opacity     : 0;
                @include flex(center, flex-start);
                transition: bottom 0.5s linear, opacity 0.5s linear;

                span {
                    font-size  : 48px;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: bold;
                    color      : #FFFFFF;
                    margin     : 0 6px;
                }

                &.price {
                    font-size        : 28px;
                    // padding-right : 117px;
                    width            : 50%;
                    box-sizing       : border-box;
                    height           : 100%;
                    color            : #E1BF81;
                    flex-direction   : column;
                    align-items      : flex-start;

                    a {
                        text-decoration: none;
                        display        : inline-block;
                        color          : #E1BF81;
                        padding-top    : 8px;

                        .lab {
                            font-style : normal;
                            font-weight: bold;
                            font-size  : 40px;
                            color      : #fff;
                            padding-top: 14px;
                        }

                        span {
                            font-size: 62px;
                            margin   : 0;

                            &.small {
                                font-size: 40px;
                            }
                        }

                        .big {
                            font-style : normal;
                            font-weight: bold;
                            font-size  : 30px;
                            color      : #fff;
                            margin     : 0 8px;
                        }

                        &:first-of-type {
                            padding-top: 20px;
                        }

                    }


                }
            }
        }

        .button-right {
            flex: 1;
            @include flex(center, flex-start);
            flex-direction: column;
            position      : absolute;
            right         : 25%;
            top           : 0;
            height        : 100%;
            box-sizing    : border-box;
            padding-top   : 24px;
            color         : #27DD81;

            &.availableCount {
                padding-top    : 0;
                justify-content: center;

                button {
                    position: relative;

                    &::after {
                        content   : '';
                        display   : block;
                        position  : absolute;
                        left      : 0;
                        top       : 0;
                        width     : 100%;
                        height    : 100%;
                        background: rgba($color: #000, $alpha: 0.5);
                    }
                }
            }

            button {
                width     : 366px;
                height    : 88px;
                background: url(../../assets/images/tiangong/ys_btn.png) no-repeat;

                span {
                    font-size              : 36px;
                    font-weight            : bold;
                    color                  : #27DD81;
                    background             : linear-gradient(137deg, #f3dfb9 0%, #ffc275 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    letter-spacing         : 4px;
                }
            }

            p {
                margin-top : 8px;
                font-size  : 24px;
                font-family: SourceHanSerifCN-Medium, SourceHanSerifCN;
                color      : #FFFFFF;
                @include flex(center, center);
                opacity: 1;

                span {
                    font-size  : 32px;
                    font-family: PingFangSC-Medium, PingFang SC;
                    font-weight: bold;
                    color      : #FF8628;
                }
            }
        }
    }
}