.culture-historyOrder-box {
  padding: 50px 36px;
  box-sizing: border-box;
  min-height: 100vh;
  background: #000000;
}

.culture-historyOrder-box .load-all-box {
  padding-top: 32px;
  font-size: 24px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 34px;
  text-align: center;
}

.culture-historyOrder-box .history-order-menuItem {
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  margin-bottom: 30px;
}

.culture-historyOrder-box .order-menuItem-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 44px 14px 18px;
  box-sizing: border-box;
}

.culture-historyOrder-box .order-menuItem-top .menuItem-top-dealDate {
  font-size: 28px;
  color: #999999;
  font-weight: 400;
  line-height: 40px;
}

.culture-historyOrder-box .order-menuItem-top .menuItem-top-status {
  font-size: 32px;
  color: #D0B076;
  font-weight: 400;
  line-height: 44px;
}

.culture-historyOrder-box .order-menuItem-content .order-menuItem-border {
  display: flex;
  padding: 22px 44px 34px 36px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}

.culture-historyOrder-box .order-menuItem-content .menuItem-content-img {
  width: 160px;
  height: 172px;
  background: #8B8B8B;
  border-radius: 16px;
}

.culture-historyOrder-box .order-menuItem-content .menuItem-content-right {
  margin-left: 32px;
}

.culture-historyOrder-box .order-menuItem-content .menuItem-content-title {
  font-size: 32px;
  color: white;
  font-weight: 600;
  line-height: 60px;
  width: 370px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.culture-historyOrder-box .order-menuItem-content .menuItem-content-only {
  font-size: 32px;
  color: #999999;
  font-weight: 400;
  line-height: 60px;
}

.culture-historyOrder-box .order-menuItem-content .menuItem-content-only.only-price {
  color: #fff;
}

.culture-historyOrder-box .order-menuItem-bottom {
  padding: 24px 44px 50px 46px;
  box-sizing: border-box;
}

.culture-historyOrder-box .order-menuItem-bottom .menuItem-bottom-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.culture-historyOrder-box .order-menuItem-bottom .menuItem-bottom-info.menuItem-bottom-haxi {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  max-height: 360px;
  overflow: hidden;
  border-radius: 16px;
}

.culture-historyOrder-box .order-menuItem-bottom .menuItem-bottom-info.menuItem-bottom-haxi .menuItem-bottom-left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.culture-historyOrder-box .order-menuItem-bottom .menuItem-bottom-info.menuItem-bottom-haxi .menuItem-bottom-left i {
  font-size: 32px;
}

.culture-historyOrder-box .order-menuItem-bottom .menuItem-bottom-info.menuItem-bottom-haxi .menuItem-bottom-right {
  background: #000000;
  border-radius: 16px;
  padding: 22px 36px;
  box-sizing: border-box;
}

.culture-historyOrder-box .order-menuItem-bottom .menuItem-bottom-info.menuItem-bottom-haxi .menuItem-bottom-right span {
  font-size: 32px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 400;
  color: #D0B076;
  line-height: 44px;
  display: inline-block;
}

.culture-historyOrder-box .order-menuItem-bottom .menuItem-bottom-info.menuItem-bottom-haxi.warp-menuItem-box {
  max-height: initial;
}

.culture-historyOrder-box .order-menuItem-bottom .menuItem-bottom-left {
  font-size: 32px;
  color: #ffffff;
  font-weight: 500;
  line-height: 80px;
}

.culture-historyOrder-box .order-menuItem-bottom .menuItem-bottom-right {
  font-size: 32px;
  color: #ffffff;
  font-weight: 400;
  line-height: 80px;
}
