.setting-box {
  min-height: 100vh;
  padding: 50px 40px 40px 42px;
  box-sizing: border-box;
}

.setting-box .list-menu .menu-item {
  width: 100%;
  height: 128px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 32px;
  padding: 0px 46px 0px 44px;
  box-sizing: border-box;
  font-size: 32px;
  color: #ffffff;
  font-weight: 500;
  line-height: 44px;
  margin-bottom: 20px;
}

.setting-box .list-menu .menu-item p {
  display: flex;
  align-items: center;
}

.setting-box .list-menu .menu-item .setting-text {
  display: inline-block;
  text-align: right;
  flex: 1;
}

.setting-box .list-menu .menu-item .setting-text.active {
  color: #D8B77B;
}

.setting-box .list-menu .menu-item-content {
  margin-left: 28px;
}

.setting-box .list-menu .icon-useragree {
  font-size: 40px;
}

.setting-box .list-menu .icon-about {
  font-size: 45px;
}

.setting-box .list-menu .icon-loginOut {
  font-size: 42px;
}

.setting-box .list-menu .icon-arrowRight {
  font-size: 26px;
}

.setting-box .info-box {
  width: 100%;
  font-size: 28px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #999999;
  line-height: 56px;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 30px 0 50px;
  background: #000000;
}

.setting-box .info-box p {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
}

.setting-box .info-box p i {
  margin-right: 16px;
  font-size: 36px;
}
