@mixin font($fontSize, $color, $fontWeight, $lineHeight) {
    font-size  : $fontSize;
    color      : $color;
    font-weight: $fontWeight;
    line-height: $lineHeight;
}

@mixin between($justifyContent) {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: $justifyContent;
}

@mixin width($width, $height) {
    width : $width;
    height: $height;
}

@mixin ellipsis($width) {
    width      : $width;
    overflow   : hidden;
    white-space: nowrap;
}

img {
    object-fit: cover;
}

.culture-orderDetail-box {
    position       : relative;
    padding        : 0px 36px;
    box-sizing     : border-box;
    min-height     : 100vh;
    background     : #141415 url(../../assets/images/culture-gather/bg_login.png) no-repeat center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .order-detail-status {
        text-align: center;
        padding   : 96px 0px 60px 0px;
        box-sizing: border-box;
        @include between(center);
        align-items   : center;
        flex-direction: column;
        @include font(40px, #ffffff, 400, 32px);

        .status-img {
            width        : 112px;
            height       : 112px;
            font-size    : 112px;
            color        : #D8B77B;
            margin-bottom: 66px;
        }

        .countdown {
            margin-top: 30px;
            @include font(28px, #ffffff, 400, 24px);
        }
    }

    .order-detail-list {
        background   : rgba(255, 255, 255, 0.08);
        border-radius: 16px;
        padding      : 24px 44px 28px 36px;
        box-sizing   : border-box;

        .order-detail-goods {
            @include between(center);
            padding-bottom: 36px;
            border-bottom : 2px solid rgba(255, 255, 255, 0.1);
            box-sizing    : border-box;

            .goods-img {
                width        : 160px;
                height       : 172px;
                border-radius: 16px;
                margin-right : 32px;
            }

            .orderList-info-title {
                @include ellipsis(380px);
                @include font(32px, #ffffff, 600, 60px)
            }

            .orderList-info-subTitle {
                @include ellipsis(370px);
                @include font(32px, #999999, 600, 60px);

                span {
                    color : #fff;
                    margin: 0 8px;
                }

            }

            .info-text {
                font-size  : 32px;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color      : #FFFFFF;
                line-height: 72px;
            }
        }

        .order-detail-menu {
            padding-top: 24px;
            box-sizing : border-box;

            .order-detail-item {
                @include between(space-between);
                @include font(32px, #ffffff, 500, 80px);

                p {
                    span {
                        color: #D8B77B;

                    }
                }
            }
        }

    }

    .foot-box {
        margin-top     : 62px;
        width          : 100%;
        display        : flex;
        align-items    : center;
        justify-content: center;

        button {
            width      : 250px;
            height     : 80px;
            outline    : none;
            border     : none;
            font-size  : 32px;
            font-family: PingFangSC-Medium, PingFang SC;
            font-weight: 500;
            color      : #FFFFFF;

            &.canle {
                margin-right   : 60px;
                color          : #CAAB73;
                background     : url(../../assets/images/culture-gather/quxiao.png) no-repeat;
                background-size: contain;
            }

            &.comipte {
                color          : #fff;
                background     : url(../../assets/images/culture-gather/hq_btn.png) no-repeat;
                background-size: contain;
            }
        }
    }

    .info-box {
        width      : 100%;
        font-size  : 28px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color      : #999999;
        line-height: 56px;
        padding    : 30px 0 52px;

        p {
            width          : 100%;
            display        : flex;
            align-items    : center;
            justify-content: center;
            letter-spacing : 2px;

            i {
                margin-right: 16px;
                font-size   : 36px;
            }
        }

    }
}