.culture-usercenter-box {
  padding: 0px 40px;
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.culture-usercenter-box .pop-box {
  background: url(../../assets/images/culture-gather/bg_login.png) no-repeat;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.culture-usercenter-box .usercenter-header {
  padding: 42px 0px 44px 0px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.culture-usercenter-box .usercenter-header .usercenter-header-setup {
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 48px;
  color: #fff;
}

.culture-usercenter-box .usercenter-header .usercenter-header-edit {
  display: inline-block;
  width: 36px;
  height: 42px;
  font-size: 48px;
  color: #fff;
}

.culture-usercenter-box .usercenter-userinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 38px;
  box-sizing: border-box;
}

.culture-usercenter-box .usercenter-userinfo .userinfo-avatar-round {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  background: url(../../assets/images/tiangong/headbg.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 24px;
}

.culture-usercenter-box .usercenter-userinfo .cube-upload-btn,
.culture-usercenter-box .usercenter-userinfo .cube-upload-file {
  width: 160px;
  height: 160px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  opacity: 0;
}

.culture-usercenter-box .usercenter-userinfo .cube-upload-btn .title-img,
.culture-usercenter-box .usercenter-userinfo .cube-upload-btn .cube-upload-file-def,
.culture-usercenter-box .usercenter-userinfo .cube-upload-file .title-img,
.culture-usercenter-box .usercenter-userinfo .cube-upload-file .cube-upload-file-def {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url(../../assets/images/culture-gather/user-pic.png) center no-repeat;
  background-size: cover;
}

.culture-usercenter-box .usercenter-userinfo .cube-upload-file {
  opacity: 1;
}

.culture-usercenter-box .usercenter-userinfo .cube-upload-btn input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: transparent;
  font-size: 0;
}

.culture-usercenter-box .usercenter-userinfo .cube-upload {
  display: inline-block;
}

.culture-usercenter-box .usercenter-userinfo .cube-upload-file-def {
  width: 160px;
  height: 160px;
  border-radius: 110px;
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.culture-usercenter-box .usercenter-userinfo .cube-upload-file-def .cubeic-wrong {
  display: none;
}

.culture-usercenter-box .usercenter-userinfo .cube-upload-file-progress {
  display: none;
}

.culture-usercenter-box .usercenter-userinfo .userinfo-avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.culture-usercenter-box .usercenter-userinfo .userinfo-name {
  font-weight: 500;
  line-height: 48px;
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 26px;
}

.culture-usercenter-box .usercenter-userinfo .userinfo-mycollection-number {
  font-size: 24px;
  color: rgba(119, 104, 104, 0.9);
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 26px;
  display: flex;
  align-items: center;
}

.culture-usercenter-box .usercenter-userinfo .userinfo-mycollection-number .user-mycollectio {
  font-size: 28px;
  margin: 0 6px;
}

.culture-usercenter-box .usercenter-userinfo .userinfo-mycollection-number .userinfo-mycollection-amount {
  font-size: 28px;
  color: #F57F2F;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
  margin-top: 4px;
}

.culture-usercenter-box .usercenter-userinfo .userinfo-address {
  font-size: 28px;
  color: #ffffff;
  font-weight: 400;
  line-height: 28px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.culture-usercenter-box .usercenter-userinfo .userinfo-address .userinfo-realname {
  font-size: 26px;
  color: #F57F2F;
  font-weight: 400;
  line-height: 26px;
  margin-left: 26px;
}

.culture-usercenter-box .usercenter-userinfo .userinfo-address .userinfoPass {
  font-size: 26px;
  color: #CAA566;
  display: flex;
  align-items: center;
}

.culture-usercenter-box .usercenter-userinfo .userinfo-address .userinfoPass i {
  width: 28px;
  height: 28px;
  margin: 0 12px;
  font-size: 28px;
}

.culture-usercenter-box .usercenter-userinfo .userinfo-address .userinfoPass.noPass {
  color: #fff;
}

.culture-usercenter-box .usercenter-userinfo .userinfo-address .userinfoPass.noPass i {
  color: #CAA566;
}

.culture-usercenter-box .usercenter-userinfo .userinfo-address .userinfo-realname-iconarrow_right {
  margin-left: 16px;
  font-size: 26px;
}

.culture-usercenter-box .usercenter-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 32px 136px;
  box-sizing: border-box;
}

.culture-usercenter-box .usercenter-menu .usercenter-menu-item {
  font-size: 22px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}

.culture-usercenter-box .usercenter-menu .usercenter-menu-item i {
  font-size: 64px;
}

.culture-usercenter-box .usercenter-menu .usercenter-menu-item-name {
  margin-top: 10px;
}

.culture-usercenter-box .usercenter-mycollection {
  padding: 52px 0px 98px 0px;
  box-sizing: border-box;
}

.culture-usercenter-box .usercenter-mycollection .usercenter-mycollection-name {
  font-size: 32px;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: 32px;
}

.culture-usercenter-box .usercenter-mycollection .mycollection-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.culture-usercenter-box .usercenter-mycollection .mycollection-menu-list .mycollection-list {
  width: 320px;
  height: 424px;
  border-radius: 16px;
  margin-bottom: 30px;
}

.culture-usercenter-box .usercenter-mycollection .mycollection-menu-list .mycollection-list .mycollection-list-img {
  width: 320px;
  height: 234px;
  border-radius: 20px;
  position: relative;
}

.culture-usercenter-box .usercenter-mycollection .mycollection-menu-list .mycollection-list .mycollection-list-img .img1 {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.culture-usercenter-box .usercenter-mycollection .mycollection-menu-list .mycollection-list .mycollection-list-img .img2 {
  position: absolute;
  left: 0px;
  top: 0px;
  display: inline-block;
  height: 56px;
  line-height: 52px;
  background: #F57F2F;
  border-radius: 20px 4px 30px 4px;
  font-size: 30px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
  padding: 0 10px;
  min-width: 72px;
  box-sizing: border-box;
}

.culture-usercenter-box .usercenter-mycollection .mycollection-menu-list .mycollection-list .mycollection-list-info {
  background: #222;
  padding: 0px 16px;
  box-sizing: border-box;
  border-radius: 0px 0px 16px 16px;
}

.culture-usercenter-box .usercenter-mycollection .mycollection-menu-list .mycollection-list .mycollection-list-title {
  font-size: 28px;
  color: #ffffff;
  padding: 20px 0px 16px 0px;
  box-sizing: border-box;
  width: 268px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.culture-usercenter-box .usercenter-mycollection .mycollection-menu-list .mycollection-list .mycollection-list-subtitle {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.7);
  padding: 16px 0px 24px 0px;
  box-sizing: border-box;
}

.culture-usercenter-box .usercenter-mycollection .mycollection-noList {
  text-align: center;
  width: 100%;
  height: 300px;
  font-size: 28px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
